:root {
    --img1: url('https://images.unsplash.com/photo-1673881140590-0ce3136c24aa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDh8NnNNVmpUTFNrZVF8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60');
    --img2: url('https://images.unsplash.com/photo-1696346716872-dc36a8c9d34c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDF8NnNNVmpUTFNrZVF8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60');
    --img3: url('https://images.unsplash.com/photo-1695968699604-defce4d13128?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1972&q=80');
    --img4: url('https://images.unsplash.com/photo-1696359031609-2ae30782b28c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80');
}

body, h1, h2, ul, li, p, form {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: 20px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px 0;
}

section {
    padding: 40px 0;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero p {
    margin-bottom: 1rem;
}

/* Styles de bouton */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin: auto;
}

/* Styles des services */
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.services-grid div {
    text-align: center;
}
.services-grid .service-img {
    width: 100%;
    height: 300px;
    background: center no-repeat;
    background-size: cover;
}

.services-grid div:first-child .service-img {
    background-image: url('https://images.unsplash.com/photo-1519741497674-611481863552?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
}
.services-grid div:nth-child(2) .service-img {
    background-image: url('https://images.unsplash.com/photo-1493863641943-9b68992a8d07?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2058&q=80');
}
.services-grid div:last-child .service-img {
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGFuZHNjYXBlfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60');
}

.service img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.service img:hover {
    transform: scale(1.1);
}

/* Styles du formulaire de contact */
form label, form textarea, form input, form button {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

form textarea {
    height: 150px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Styles de pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#blogs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
}

#blogs .blog-img {
    width: 100%;
    height: 200px;
    background: center no-repeat;
    background-size: cover;
}
#blogs .blog-img[data-number="1"] {
    background-image: var(--img1);
}
#blogs .blog-img[data-number="2"] {
    background-image: var(--img2);
}
#blogs .blog-img[data-number="3"] {
    background-image: var(--img3);
}
#blogs .blog-img[data-number="4"] {
    background-image: var(--img4);
}

#blogs h4 {
    margin-bottom: .6rem;
}

#blogs p {
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    margin-bottom: 1rem;
}

#blogs .blog-btn {
    font-size: 14px;
    color: #000;
    background: #06d6a0;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
}

/* Styles responsives */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }

    nav li {
        margin-right: 10px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }

    .services-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
